{% extends 'master/master.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopTime</title>
   

</head>
<body>
   

    {% block content %}
    <br>
    <br>
  

   
    <div class="container">
       
        <div class="row">
            {% if  find_product %}
           

                {% for product in find_product%}
            <div class="col-sm-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="..."
                style="width: 100%px; height: 30%;"
                >
              <div class="card">
                  
                <div class="card-body">
                   
                    <a href="/product/{{product.id}}" target="blank" class="card-title" > <h5 class="card-title">{{ product.productName}}</h5></a>
                    <p><b>&#8377; {{product.price}} Only</b></p>
                    <p class=" text-muted">{{ product.seller}}</p>
                    <p class="badge bg-primary rating">{{product.averageRating}}  
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                    <form action="addToCart/{{product.id}}/" method="POST">
                    {% csrf_token %}
                   
                  <span><button class="btn btn-dark btn-sm">Add to Cart</button>
                     <a href="/product/{{product.id}}" target="blank" class="btn btn-warning  btn-sm">Buy Now</a></span>
                </form>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}

            <center class="center">
                <img src="/media/noresult.png" alt="">
                <h2>Sorry, no results found!</h2>
                <h4 class="text-muted">Please check the spelling or try searching for something else</h4>
            </center>
           
            {% endif %}
        </div>
       
    </div>
    
    {% endblock %}

</body>
</html>